# .github/workflows/keep-alive.yml
name: Keep Render Alive
on:
  schedule:
    - cron: '*/5 * * * *'  # 每5分钟执行一次
jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render App
        run: |
          curl -s -o /dev/null -w "%{http_code}" https://memos-stable-e4bk.onrender.com
